# Node modules
/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
/dist/
/build/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE files (if you're using an IDE)
.vscode/
.idea/

# Mac specific files
*.swp
